./op-node-mev-protection/e2e_with_EAS_contract/broadcast
./op-node-mev-protection/e2e_with_EAS_contract/cache
./op-node-mev-protection/e2e_with_EAS_contract/forge-std
./op-node-mev-protection/e2e_with_EAS_contract/lib
./op-node-mev-protection/e2e_with_EAS_contract/out